.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}
.hr-container::before,
.hr-container::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--light-color);
  margin: 0 10px;
}
.hr-container span {
  font-size: 18px; /* Adjust size of the word */
  color: var(--primary-color);
}
