.head_banner {
  width: 100%;
  height: 130px;
  border-radius: 67px 67px 0px 0px;
  background-color: #23282c;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}
.logo {
  grid-column: 2 / 3;
  width: 280px;
  height: 68px;
}
.login-title {
  color: #f5a161;
  font-size: 30px;
  grid-column: 9 / 12;
}
/* CARD CSS */

.form-card-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.WadiRamPic {
  grid-column: 1;
  object-fit: cover;
  width: 90%;
  height: 450px;
  border-radius: 40px;
}
.form {
  grid-column: 2;
  
}

.button {
  width: 100%;
}
/* BUTTON CSS */

.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #f5a161;
  /* width: 100%;
    height: 45px; */
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
