:root {
  --primary-color: #3b1e54;
  --secondary-color: #9b7ebd;
  --light-color: #d4bee4;
  --neutral-color: #eeeeee;
}
.container {
  text-align: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
  height: 300px;
}

.lmc {
  transition: 0.3s ease;
}

.expanded-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.letter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.letter {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
}

.word {
  font-size: 24px;
  font-weight: bold;
  color: #694d89;
}

.WhyContainer {
  margin-top: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.WhyContainer .head {
  grid-column: span 2;
  max-width: 600px;
  text-align: center;
}
.WhyContainer .topP {
  grid-column: span 2;
  max-width: 600px;
  font-size: 20px;
  text-align: center;
}
.WhyContainer .leftP {
  grid-column: 1;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}
.WhyContainer .rightP {
  grid-column: 2;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .WhyContainer {
    flex-direction: column;
  }
  .leftP,
  .rightP {
    width: 100%;
    margin: 0;
  }
}
.start {
  margin: 0%;
  padding: 0%;
}
.picContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.pic1 {
  background-image: url(./pexels-picjumbo-com-55570-196645.jpg);
  grid-column: 1;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-left: 0;
}
.pic2 {
  background-image: url(./pexels-picjumbo-com-55570-196645.jpg);
  width: 100%;
  grid-column: 3;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.pic3 {
  background-image: url(./pexels-picjumbo-com-55570-196645.jpg);
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.pic4 {
  background-image: url(./pexels-picjumbo-com-55570-196645.jpg);
  width: 100%;
  grid-row: 3;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.picMidWord {
  display: grid;
  justify-content: center;
  align-items: center;
  color: black;
}
