:root {
  --primary-color: #3b1e54;
  --secondary-color: #9b7ebd;
  --light-color: #d4bee4;
  --neutral-color: #eeeeee;
}
.body {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  height: 500vh;
}

.Hero {
  background-image: url("./images/pexels-tirachard-kumtanom-112571-733856.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.badges {
  background-image: url("./images/badges.png");
  width: 400px;
  background-size: cover;
  background-position: center;
  height: 200px;
}
blockquote {
  font-style: italic;
  color: #555;
  border-left: 4px solid var(--primary-color);
  padding-left: 15px;
  margin: 10px 15%;
}
