.navBar {
  color: var(--neutral-color);
  position: sticky;
  top: 0;
  height: 60px;
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  font-size: large;
  justify-content: space-around;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 1px 15px rgba(0, 0, 0, 0.2);
}
.navBar a {
  color: var(--neutral-color);
  text-decoration: none;
}
